[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/erc20-farming-pool"]
	path = lib/erc20-farming-pool
	url = https://github.com/lumen-limitless/erc20-farming-pool
